.max-w-lg{
    font-size: 5rem;
}
.bgimg{
    height: 60vh;
}
.relative{
    justify-content: space-around;
}
.bg-gray-800{
    background-image: linear-gradient(#000000, #150050, #610094, #FFA400);
    height: 90.75vh;
    width: 100%;
}
#homeimg{

}